.td-health .td-header-style-6 .sf-menu > li > a{background-color:transparent !important;}
.td-health .td-header-style-6 .td-header-top-menu-full{border-bottom:1px solid #e0e0e0;margin-bottom:20px;}
@media (min-width:768px) and (max-width:1018px){.td-health .td-header-style-6 .td-header-top-menu-full{margin-bottom:0;}
}
.td-health .td-main-menu-logo img{}
@media (max-width:1140px){.td-health .td-main-menu-logo img{max-width:230px;}
}
@media (min-width:768px) and (max-width:1018px){.td-health .td-main-menu-logo img{max-width:150px;}
}
@media (max-width:767px){.td-health .td-main-menu-logo img{max-width:140px;}
}
.td-health .td-header-wrap .td-header-main-menu{}
@media (max-width:767px){.td-health .td-header-wrap .td-header-main-menu{background-color:#fff !important;}
}
.td-health .header-search-wrap .td-icon-search{}
@media (max-width:767px){.td-health .header-search-wrap .td-icon-search{color:#222 !important;}
}
.td-health #td-top-mobile-toggle i{}
@media (max-width:767px){.td-health #td-top-mobile-toggle i{color:#222 !important;}
}
.td-health .td-main-page-wrap{padding-top:20px;}
@media (min-width:768px) and (max-width:1018px){.td-health .td-main-page-wrap{padding-top:0;}
}
@media (max-width:767px){.td-health .td-main-page-wrap{padding-top:0;}
}
.td-health .td_module_16 .td-module-title{font-weight:bold !important;}
.td-health .td_module_mx8 .td-module-comments a{background-color:transparent;}
.td-health .td-trending-now-wrapper{padding:0 24px;}
.td-health #td-theme-settings .td-skin-buy a{background-color:#399998;}
.td-health .td-module-comments a{background-color:#399998;}
.td-health .td-module-comments a:after{border-color:#399998 transparent transparent transparent;}
.td-health .td-header-style-6 .sf-menu > li > a:hover,
.td-health .td-header-style-6 .sf-menu > .sfHover > a,
.td-health .td-header-style-6 .sf-menu > .current-menu-item > a,
.td-health .td-header-style-6 .sf-menu > .current-menu-ancestor > a,
.td-health .td-header-style-6 .sf-menu > .current-category-ancestor > a{color:#399998 !important;}